body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  padding-top: 20px;
}
canvas {
  display: inline-block;
  cursor: none;
  border: 1px dotted #131331;
}

.game-container {
  display: flex;
  align-self: center;
  justify-content: center;
}

.game {
  display: inline-block;
}
/* ------------ HUD --------------- */
#hud {
  max-height: 600px;
}
.hud {
  font-family: 'Fontdiner Swanky', cursive;
  height: 600px;
  border: 1px dotted #131331;
  color: #f1f1f1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.hud .stats {
  flex: 2;
  padding: 20px;
}

.hud .stats .stat {
  margin-top: 10px;
}

.hud .commands {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.hud a {
  color: #F1A2A3;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align:center;
  background-color: #000;
  z-index: 1000;
  color: #f1f1f1;
  box-shadow: inset 0 0 30px purple;
  animation: boxshadowcrazy .5s infinite;
}

.hidden {
  visibility: hidden;
}

/* -------- MENU  ----------- */

.menu .game-title {
  font-family: 'Bungee Shade', cursive;
  color: purple;
  font-size: 4em;
}

.menu a.menu-item, .menu a.menu-item:visited {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 2.5em;
  color: #f1f1f1;
  text-decoration: none;
  transition: font-size .05s linear;
}

.menu a.menu-item:hover {
  color: #F1A2A3;
  font-size: 3em;
}

@keyframes boxshadowcrazy {
    0%   {box-shadow: inset 0 0 30px purple;}
    50% {box-shadow: inset 0 0 200px purple;}
    100% {box-shadow: inset 0 0 30px purple;}
}